@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

html{
    box-sizing: border-box;
}

body{
    margin:0;
    min-height: 100vh;
    font-family: Teko, sans-serif;
    background-color: whitesmoke;
}

h1{
    text-align: center;
    margin-top: 25 px;
    color: tomato;
    margin-bottom: 15 px;
    font-size: 50 px;
    letter-spacing: 10 px;
}


/* Loader */
.loader{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8 );
}

.loader img{
    position:fixed;
    top:50%;
    left:50%;
    /* To center the loader in the center */
    transform: translate(-50%,-50%);
}

/* Image Container */

.image-container{
    margin : 10px 15%;
}

.image-container img{
    width:100%;
    margin-top: 5px;
}

/* Media Query: Large Smartphone */
@media screen and (max-width: 600px){
    h1{
        font-size: 30px;
    }
    .image-container{
        margin:10px;
    }
}